#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}
.new-todo {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

label {
  text-align: start;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
  text-transform: capitalize;
}

input {
  padding: 12px 17px;
}

.submit {
  margin-top: 10px;
}

.group {
  gap: 4px;
  display: flex;
  justify-content: space-around;
}
.submit {
  width: 100%;
}

.sub-head {
  text-align: start;
}

.list {
  margin-top: 4px;
  text-align: start;
  border: 1px solid white;
  border-radius: 12px;
  padding: 6px 12px;
  min-width: 300px;
}

.icons {
  display: flex;
  gap: 10px;
}

.tick:hover {
  color: green;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete:hover {
  cursor: pointer;
  color: red;
}

.edit:hover {
  cursor: pointer;
  color: gray;
}

.hidden {
  opacity: 0%;
}

.load {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  align-items: end;
}
.loader {
  font-size: 30px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
